* text=auto
*.py text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.v text eol=lf
*.tcl text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.png binary
*.jpg binary
*.pdf binary
*.pptx binary
*.xlsx binary
